* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f8f9f7;
    color: #1c1c1c;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: inline;
}

/* HEADER */
header {
    background-color: #0c3b2e;
    padding: 15px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav {
    display: flex;
    gap: 10px;
    display: inline-block;
}


/* HERO */
.hero {
    background: linear-gradient(rgba(12,59,46,0.9), rgba(12,59,46,0.9));
    color: white;
    padding: 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1f7a5b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* CATEGORIES */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin: 50px auto;
}



/* CONTENT */
.content h2 {
    margin-bottom: 20px;
}


button {
     background-color:  #0c3b2e; 
     color: white;
     font-size: 12px;
    }

    .container {
 ;
  height: 10vh;
}

.page{
    display: ;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.page {
  display:none;
}

.page.active {
  display: block;
}
.down {
  background-color: #0c3b2e;
  color:whitesmoke;
  display: inline-block;
}
h2 {
  font-family: cursive;
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-family: cursive;
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px 10px 40px 40px;

}

.hadith {
  font-family: cursive;
  text-align: center;
  font-size: 16px;
}

.quran {
  font-family: cursive, bold;
  text-align: center;
  font-size: 16px;
  
}
.intro{ margin: auto}
.arabo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:20px;
    font-size: 20px;
}
/* FOOTER */
footer {
    background-color: #0c3b2e;
    color: white;
    margin-top: 60px;
    padding: 20px 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
